<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="">Home page</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <header>
        <h1>Login using...</h1>
    </header>
    <main>
        <a href="/google">Google+</a>
    </main>
</body>
</html>